<a href="https://colab.research.google.com/github/CodeWithSridhar/Movies-Recommender-system/blob/main/Movie_Recommendation_System_Sri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  üé• ***Movies Recommender System***üé•

**About the Dataset**:üé¨

The dataset consists of  metadata for all 45,000 movies listed in the Full MovieLens Dataset. The dataset consists of movies released on or before July 2017. Data points include cast, crew, plot keywords, budget, revenue, posters, release dates, languages, production companies, countries, TMDB vote counts and vote averages.

**Dataset:üìÇ**

https://www.kaggle.com/rounakbanik/movie-recommender-systems/data

![cinema-gcb5ffc1df_640.jpg]()

**Dataset Description**: üìù

This dataset consists of the following files:

‚ö° **movies_metadata.csv**: 

The main Movies Metadata file. Contains information on 45,000 movies featured in the Full MovieLens dataset. Features include posters, backdrops, budget, revenue, release dates, languages, production countries and companies.

‚ö° **keywords.csv**:

 Contains the movie plot keywords for our MovieLens movies. Available in the form of a stringified JSON Object.


‚ö° **credits.csv**: 

Consists of Cast and Crew Information for all our movies. Available in the form of a stringified JSON Object.


‚ö° **links.csv**: 

The file that contains the TMDB and IMDB IDs of all the movies featured in the Full MovieLens dataset.

‚ö° **links_small.csv**: 

Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset.


‚ö° **ratings_small.csv**: 

The subset of 100,000 ratings from 700 users on 9,000 movies.

# Problem Statement:‚ùì
Using different techniques of Machine Learning, we need to build a Recommender System that recommends movies based on ‚Äú Cast, Genre, Reviews, TMDB/IMDB ratings‚Äù

Using different types of recommendation techniques like:
1. Popularity based recommender system
2. Content based Recommender System
3. Collaborative Recommender System

In [1]:
#importing necessary modules

import pandas as pd
import sys
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# mounting the data from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Loading data
path = '/content/drive/MyDrive/Innomatics Research Labs/Movier_Recommendation_System_Final_Project/'

### **Movies Dataset**

In [4]:
movies = pd.read_csv(path+'movies_metadata.csv', sep=',', encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
movies = pd.read_csv(path+'movies_metadata.csv', sep=',', encoding='latin-1')

In [ ]:
movies.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [19]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [20]:
movies.shape

(45466, 24)

In [21]:
movies.isnull()

       adult  belongs_to_collection  budget  ...  video  vote_average  vote_count
0      False                  False   False  ...  False         False       False
1      False                   True   False  ...  False         False       False
2      False                  False   False  ...  False         False       False
3      False                   True   False  ...  False         False       False
4      False                  False   False  ...  False         False       False
...      ...                    ...     ...  ...    ...           ...         ...
45461  False                   True   False  ...  False         False       False
45462  False                   True   False  ...  False         False       False
45463  False                   True   False  ...  False         False       False
45464  False                   True   False  ...  False         False       False
45465  False                   True   False  ...  False         False       False

[45466 rows x 24 columns]

In [22]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

### **Credits** **Dataset**

In [5]:
credits = pd.read_csv(path+'credits.csv', sep=',', encoding='latin-1')

In [6]:
credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [14]:
credits.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [15]:
credits.shape

(45476, 3)

In [16]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [18]:
credits.isnull()

        cast   crew     id
0      False  False  False
1      False  False  False
2      False  False  False
3      False  False  False
4      False  False  False
...      ...    ...    ...
45471  False  False  False
45472  False  False  False
45473  False  False  False
45474  False  False  False
45475  False  False  False

[45476 rows x 3 columns]

In [17]:
credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

### **Keywords**

In [7]:
keywords = pd.read_csv(path+'keywords.csv', sep=',', encoding='latin-1')

In [12]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [24]:
keywords.columns

Index(['id', 'keywords'], dtype='object')

In [25]:
keywords.shape

(46419, 2)

In [26]:
keywords.isnull()

          id  keywords
0      False     False
1      False     False
2      False     False
3      False     False
4      False     False
...      ...       ...
46414  False     False
46415  False     False
46416  False     False
46417  False     False
46418  False     False

[46419 rows x 2 columns]

In [27]:
keywords.isnull().sum()

id          0
keywords    0
dtype: int64

### **Links**

In [36]:
links  = pd.read_csv(path+'links.csv', sep=',', encoding='latin-1')

In [37]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [40]:
links.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [41]:
links.shape

(45843, 3)

In [42]:
links.isnull()

       movieId  imdbId  tmdbId
0        False   False   False
1        False   False   False
2        False   False   False
3        False   False   False
4        False   False   False
...        ...     ...     ...
45838    False   False   False
45839    False   False   False
45840    False   False   False
45841    False   False   False
45842    False   False   False

[45843 rows x 3 columns]

In [43]:
links.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

### **Links_Small**

In [8]:
links_small = pd.read_csv(path+'links_small.csv', sep=',', encoding='latin-1')

In [13]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [28]:
links_small.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [29]:
links_small.shape

(9125, 3)

In [30]:
links_small.isnull()

      movieId  imdbId  tmdbId
0       False   False   False
1       False   False   False
2       False   False   False
3       False   False   False
4       False   False   False
...       ...     ...     ...
9120    False   False   False
9121    False   False   False
9122    False   False   False
9123    False   False   False
9124    False   False   False

[9125 rows x 3 columns]

In [31]:
links_small.isnull().sum()

movieId     0
imdbId      0
tmdbId     13
dtype: int64

### **Ratings_small**

In [10]:
ratings_small  = pd.read_csv(path+'ratings_small.csv', sep=',', encoding='latin-1')

In [11]:
ratings_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [32]:
ratings_small.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [33]:
ratings_small.shape

(100004, 4)

In [34]:
ratings_small.isnull()

        userId  movieId  rating  timestamp
0        False    False   False      False
1        False    False   False      False
2        False    False   False      False
3        False    False   False      False
4        False    False   False      False
...        ...      ...     ...        ...
99999    False    False   False      False
100000   False    False   False      False
100001   False    False   False      False
100002   False    False   False      False
100003   False    False   False      False

[100004 rows x 4 columns]

In [35]:
ratings_small.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [44]:
movies.iloc[0:3].transpose()

                                                                       0  ...                                                  2
adult                                                              False  ...                                              False
belongs_to_collection  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                          30000000  ...                                                  0
genres                 [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                            http://toystory.disney.com/toy-story  ...                                                NaN
id                                                                   862  ...                                              15602
imdb_id                                                        tt0114709  ...                                          tt0113228
original_language                                                     en  ...                                                 en
original_title                                                 Toy Story  ...                                   Grumpier Old Men
overview               Led by Woody, Andy's toys live happily in his ...  ...  A family wedding reignites the ancient feud be...
popularity                                                       21.9469  ...                                            11.7129
poster_path                             /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...                   /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies      [{'name': 'Pixar Animation Studios', 'id': 3}]  ...  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries   [{'iso_3166_1': 'US', 'name': 'United States o...  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                  1995-10-30  ...                                         1995-12-22
revenue                                                      3.73554e+08  ...                                                  0
runtime                                                               81  ...                                                101
spoken_languages                [{'iso_639_1': 'en', 'name': 'English'}]  ...           [{'iso_639_1': 'en', 'name': 'English'}]
status                                                          Released  ...                                           Released
tagline                                                              NaN  ...  Still Yelling. Still Fighting. Still Ready for...
title                                                          Toy Story  ...                                   Grumpier Old Men
video                                                              False  ...                                              False
vote_average                                                         7.7  ...                                                6.5
vote_count                                                          5415  ...                                                 92

[24 rows x 3 columns]

## **Attributes of Movies Dataset**:

    adult: Indicates if the movie is X-Rated or Adult.
    belongs_to_collection: A stringified dictionary that gives information on the movie series the particular film belongs to.
    budget: The budget of the movie in dollars.
    genres: A stringified list of dictionaries that list out all the genres associated with the movie.
    homepage: The Official Homepage of the move.
    id: The ID of the move.
    imdb_id: The IMDB ID of the movie.
    original_language: The language in which the movie was originally shot in.
    original_title: The original title of the movie.
    overview: A brief blurb of the movie.
    popularity: The Popularity Score assigned by TMDB.
    poster_path: The URL of the poster image.
    production_companies: A stringified list of production companies involved with the making of the movie.
    production_countries: A stringified list of countries where the movie was shot/produced in.
    release_date: Theatrical Release Date of the movie.
    revenue: The total revenue of the movie in dollars.
    runtime: The runtime of the movie in minutes.
    spoken_languages: A stringified list of spoken languages in the film.
    status: The status of the movie (Released, To Be Released, Announced, etc.)
    tagline: The tagline of the movie.
    title: The Official Title of the movie.
    video: Indicates if there is a video present of the movie with TMDB.
    vote_average: The average rating of the movie.
    vote_count: The number of votes by users, as counted by TMDB.

In [45]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

‚òò Total ***movies*** present in the dataset: ***45466***

‚òò Total Attributes: **24**

‚òò Nan-values are present in the dataset

In [46]:
movies = movies.drop(['imdb_id','original_title'], axis=1)

In [47]:
movies.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 22 columns]